*{
	margin: 0;
	padding: 0;
}
/*----GENERAL----*/
.nopadding{
	padding: 0px;
}
.padding10{
	padding: 10px;
}
.fontOswald{
	font-family: 'Oswald', sans-serif;
}
/*--END GENERAL----*/
/*---HEAD-------*/
#pistacia_greetingContainer{
	width: 70%;
	height: auto;
	position: absolute;
	top:60px;
	left: 0;
	right: 0;
	margin: auto;
	color: white;
}

#myCarousel .carousel-control.right{
	background: none;
}
#myCarousel .carousel-control.left{
	background: none;
}

#pistacia_greetingContainer img{
	width: 200px;
	height: 100px;
	border-radius: 10px;
}
#pistacia_greetingContainer p{
	font-family: 'Oswald', sans-serif;
	font-size: 60px;
}
#pistacia_greetingContainer h1{
	font-family: 'Concert One', cursive;
	font-size: 70px;
}
#pistacia_greetingContainer h3{
	font-family: 'Caveat', cursive;
	/* font-family: 'Sonsie One', cursive; */
	font-size: 60px;
	color: yellow;
	margin-top: 40px;
}

#myCarousel .carousel-indicators{
	 visibility: hidden;
}
.pistacia_carouselImage{
}

.pistacia_carouselImage img{
	height: 100%;
	width: 100%;
}
#pistacia_mainNav{
	background: red;
}
#pistacia_mainNav li{
	display: inline-block;
	padding: 20px 10px 20px 10px;
}
#pistacia_mainNav li:hover{
	background: rgba(252, 237, 0, 0.1);
	
}
#pistacia_mainNav li a:hover{
	color:#73AA2A;
}
#pistacia_mainNav li a{
	text-decoration: none;
	color: white;
	font-size: 18px;
	padding: 20px 10px 20px 10px;
	font-family: 'Oswald', sans-serif;
}
#pistacia_mainNav ul{
	position: absolute;
	left: 0;
	right: 0;
	text-align: center;
	z-index: 100;
	border-top: 1px solid #73AA2A;
	border-bottom: 10px solid #73AA2A;

	-webkit-box-shadow: 0px 9px 22px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 9px 22px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 9px 22px 0px rgba(0,0,0,0.75);

}

.pistacia_navContainer{
	margin-top: -70px;
}
/*-----------SERVICE-------------*/
.pistacia_moreServiceContainer h3{
	font-family: 'Oswald', sans-serif;
}
.pistacia_serviceImage{
	height: 150px;
	width: 150px;
}
.pistacia_serviceHeading{
	padding-top: 150px;
	padding-bottom: 50px;
	font-family: 'Oswald', sans-serif;
}
.pistacia_servicesBoxInner{
	padding-bottom: 80px;

}
.pistacia_servicesBoxInner h3{
	font-family: 'Oswald', sans-serif;
}
.pistacia_servicesBoxInner p{
	font-family: 'Open Sans', sans-serif;
}

.pistacia_moreServiceImage{
	height: 50px;
	width: 50px;
}
.pistacia_moreServiceContainer{
	border: 1px solid black;
	padding: 80px;
	background: #E8E8E8;
}
.pistacia_moreServiceContainer h3{
	
}
.pistacia_serviceBtns{
	padding: 10px;
	background:#848484;
	color: white;
	border: none;
	border-radius: 5px;
	font-family: 'Oswald', sans-serif;
}
.pistacia_serviceBtns:hover{
	background:#B8D94C;
	color: #848484;
}
/*---------END--SERVICE-------------*/


/*---------ABOUT US------------*/
.pistacia_aboutUsBoxBg1{
	background-image: url('../img/aboutus.jpg');
	height: 150px;
	background-size: cover;
	padding: 15px;
	padding-top: 50px;
	color:white;
}
.pistacia_aboutUsBoxBg2{
	background-image: url('../img/aboutus1.jpg');
	height: 150px;
	background-size: cover;
	padding: 15px;
	padding-top: 50px;
	color:white;
}
.pistacia_aboutUsBoxBg3{
	background-image: url('../img/aboutus1.jpg');
	height: 150px;
	background-size: cover;
	padding: 15px;
	padding-top: 50px;
	color:white;
}
.pistacia_aboutUsBoxBg4{
	background-image: url('../img/aboutus.jpg');
	height: 150px;
	background-size: cover;
	padding: 15px;
	padding-top: 50px;
	color:white;
}
.pistacia_aboutUsBoxContent{
	font-size: 20px;
}
#pistacia_aboutUsContainer{
	padding-top: 100px;
	padding-bottom: 100px;
	font-family: 'Open Sans', sans-serif;
}
.pistacia_aboutUsHeading{
	padding-bottom: 30px;

}
.pistacia_aboutUsHeading h1{
	padding-bottom: 30px;
	font-family: 'Oswald', sans-serif;
}
/*---------END ABOUT US------------*/

/*----------OUR STAFF---------------*/
.pistacia_ourStaffImageSlider img{
	height: 200px;
	width: 200px;
}
.pistacia_ourStaffImage{
	height: 200px;
	width: 200px;
}
#myCarousel2{
	width: 50%;
}
#myCarousel2 .carousel-indicators{
	 visibility: hidden;
}

#myCarousel2 .carousel-control.right{
	background: none;
	right: -30px;
	top: 0px;
}
#myCarousel2 .carousel-control .glyphicon-chevron-left, #myCarousel2 .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev{
	top:90px;
}
#myCarousel2 .carousel-control.left{
	background: none;
	left: -30px;
}
.pistacia_ourStaffHeading h1{
	font-family: 'Oswald', sans-serif;
}
#pistacia_ourStaffContainer{
	padding: 40px;
	background: #E8E8E8;
}
.pistacia_ourstaffTeachingImageBG img{
	width: 100%;
	height: 100%;
}
.pistacia_ourstaffTeachingImageBG{
	height: 300px;
}
.pistacia_ourstaffSlider{
}

.pistacia_employeeBox{
	padding: 50px;
}

/*--------GALLERY-------------*/
#myCarousel3 .carousel-indicators{
	background: red;
	top: 102%;
}

#myCarousel3 .carousel-indicators li{
	border-radius: 0px;
	width: 40px;
	background-color: #2F2F2F;
	border: none;
}
#myCarousel3 .carousel-control.right{
	display: none;
}

#myCarousel3 .carousel-control.left{
	display: none;
}

#myCarousel3 .carousel-indicators .active {
    background-color: #73AA2A;
}


.pistacia_galleryHeading{
	margin-top: 30px;
	padding-bottom: 30px;
}
#pistacia_activity ul li{
	display: inline-block;
	padding: 20px;
}
#pistacia_activity ul{
	margin:0px;
}
#pistacia_activity{
	margin-top: 80px;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
}
.pistacia_galleryHeading h1{
	font-family: 'Oswald', sans-serif;
}
.pistacia_galleryBigSlider{
	height: 500px;
}
#myCarousel3{
	height: 500px;
}
#myCarousel3 img{
	width: 100%;
	height: 500px; 
}
#pistacia_galleryBox{
	background: red;
}
.pistacia_galleryBox{
	padding-top: 50px;
}

/*-=-----CONTACT US------*/
.pistacia_contactUsContainer{
	margin-top: 30px;
	color: white;
	font-family: 'Open Sans', sans-serif;
	padding-bottom: 60px;
	padding-top: 30px;
}
.pistacia_contactUsContainer h1{
	font-family: 'Oswald', sans-serif;
}
#map{
	height: 150px;
	width: 100%;
}
#pistacia_address i{
	font-size: 40px;
	position: absolute;
	left: 10px;
}
#pistacia_socialIcons{
	margin-top: 30px;
}
#pistacia_socialIcons i{
	font-size: 30px;
}
/*---FOOOTER LASTBG----*/
#pistacia_footerBGlast{
	height: 40px;
	background: #2F2F2F;
}